.main {
  width: 100dvw;
  min-height: 100dvh;

  > section {
    display: flex;
    justify-content: center;
    align-items: center;

    > .con {
      display: grid;
      padding: clamp(80px, 15dvh, 120px) 40px;
      width: clamp(700px, 80dvw, 1200px);
      height: 100%;
    }
  }

  #hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    background-image: url("/public/main_pic.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    div {
      position: relative;
      text-align: center;

      h3 {
        color: $c_main-red;
      }

    }

    a {
      display: block;
      position: absolute;
      bottom: 25%;
      left: 50%;
      margin-top: 50px;
      padding: 20px 25px;
      border: 1px solid $c_white;
      background: transparent;
      color: $c_white;
      backdrop-filter: blur(10px);
      transform-origin: center center;
      transition: color 0.2s, background-color 0.2s;
      transform: translateX(-50%) translateY(50%) scale(0.9);

      h3 {
        white-space: nowrap;
      }

      &:hover {
        background: rgba($c_white, 0.1);
      }
    }


    &::after {
      content: "";
      display: none;
      position: absolute;
      left: 10px;
      top: 10px;
      z-index: 50;
      width: clamp(55px, 18dvw, 75px);
      aspect-ratio: 1 / 1;
      background-image: url("/public/logo.webp");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  #about {

    > .con {
      position: relative;
      grid-template-columns: 3fr 2fr;
      justify-items: center;

      .text {
        hr {
          border: 1px solid $c_timberwolf;
          opacity: 0.3;
        }

        a {
          display: block;
          width: fit-content;
          margin-top: 50px;
          padding: 20px 25px;
          border: 1px solid $c_white;
          background: transparent;
          color: $c_white;
          transition: background-color 0.2s;

          h3 {
            white-space: nowrap;
          }

          &:hover {
            background: rgba($c_white, 0.1);
          }
        }
      }

      .image {
        width: 25dvw;
        height: 100%;
        background-image: url("/public/drone_pic.webp");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }


      .staff {
        grid-column: 1 / 3;

        .staff-photos-title {
          text-align: center;
        }

        .staff-photos {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: wrap row;
          gap: clamp(50px, 12dvw, 150px);
          margin: 30px;

          div {
            position: relative;
            display: flex;
            flex-flow: nowrap column;
            justify-content: center;
            align-items: center;
            width: clamp(200px, 25dvw, 250px);

            img {
              @extend .element-shadow;
              position: relative;
              width: 100%;
              display: block;
              margin-bottom: 20px;
            }

            h3 {
              font-size: 160%;

              &:last-of-type {
                font-size: 85%;
              }
            }
          }
        }
      }
    }
  }
}

#offer {
  background-color: $c_night;

  > .con {
    grid-template-columns: 1fr;

    hr {
      border: 1px solid $c_timberwolf;
      opacity: 0.3;
    }

    .fast_offers-title {
      text-align: center;
    }

    .fast_offers {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: wrap row;
      gap: 60px 40px;
      margin: 30px 0;

      a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: clamp(200px, 20dvw, 292px);
        aspect-ratio: 3 / 2;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: contrast(0.7) brightness(0.2) saturate(0);
          transition: filter 0.2s;
        }

        h3 {
          position: relative;
          z-index: 10;
          transition: scale 0.2s;
        }

        &::after, &::before {
          content: "";
          position: absolute;
          z-index: 10;
          width: 40%;
          height: 40%;
          transition-duration: 0.2s;
        }

        &::after {
          top: 0;
          left: 0;
          border-top: 1.5px $c_main-red solid;
          border-left: 1.5px $c_main-red solid;
        }

        &::before {
          bottom: 0;
          right: 0;
          border-bottom: 1.5px $c_main-red solid;
          border-right: 1.5px $c_main-red solid;
        }

        &:hover {
          img {
            filter: contrast(0.7) brightness(0.25) saturate(0.5);
          }

          h3 {
            scale: 1.05;
          }

          &::after, &::before {
            width: calc(40% + 10px);
            height: calc(40% + 10px);
          }

          &::after {
            top: -10px;
            left: -10px;
          }

          &::before {
            bottom: -10px;
            right: -10px;
          }
        }
      }
    }
  }
}

#gallery {

  > .con {
    grid-template-columns: 1fr;

    h3 {
      text-align: center;
    }

    .photo-box {
      display: grid;
      grid-template-columns: repeat(4, minmax(150px, auto));
      gap: clamp(10px, 5dvw, 30px);
      margin: 30px auto;

      img {
        @extend .element-shadow;
        width: 100%;
        aspect-ratio: 10 / 9;
        object-fit: cover;
        transition: scale 0.2s, filter 0.2s;
      }

      &:hover {
        img {
          &:not(:hover) {
            scale: 0.95;
            filter: saturate(0) brightness(0.6);
          }

          &:hover {
            scale: 1.05;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1000px) {
  .main {
    #gallery {
      > .con {
        .photo-box {
          grid-template-columns: repeat(auto-fill, minmax(150px, auto));
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .main {

    #hero {
      &::after {
        display: block;
      }
    }

    #about {

      > .con {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 20dvh;

        .image {
          width: 100%;
        }
      }
    }
  }
}